@model IEnumerable<AdvertisementVM>

@{
    Layout = "_LayoutCustomer";
}

<div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-globe text-warning"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Capacity</p>
                            <p class="card-title">150GB<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i>
                    Update Now
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-money-coins text-success"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Revenue</p>
                            <p class="card-title">$ 1,345<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-calendar-o"></i>
                    Last day
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-vector text-danger"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Errors</p>
                            <p class="card-title">23<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-clock-o"></i>
                    In the last hour
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-favourite-28 text-primary"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Followers</p>
                            <p class="card-title">+45K<p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i>
                    Update now
                </div>
            </div>
        </div>
    </div>
</div>
<section id="portfolio" class="portfolio">
    <h3 class="ml-4 text-primary">My Advertisements</h3>
    <hr />
    <div class="container" data-aos="fade-up">



        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
            @foreach (var i in Model)
            {

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <img src="@i.PhotosNames.First()" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <span class="mb-1">@i.Category</span>
                        <p class="font-weight-bold" style="font-size:25px">@i.Name</p>
                        <div class="justify-content-between">

                            <div class="d-flex justify-content-between">
                                <div>
                                    <p style="font-size:20px">@i.Price.ToString("c")</p>
                                </div>
                                <div class=" w-50 d-flex justify-content-around">
                                    <a href="@i.PhotosNames.First()" data-gallery="portfolioGallery" class="portfolio-lightbox" title="FullScreen">
                                        <i class="bi bi-arrows-fullscreen m-1 text-white" style="font-size:16px"></i>
                                    </a>

                                    <a asp-controller="Advertisements" asp-action="Edit" asp-route-id="@i.ID" class="">
                                        <span class="iconify text-white" data-icon="dashicons:update-alt" style="font-size:20px"></span>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@i.ID" class="">
                                        <span class="iconify text-danger" data-icon="fluent:delete-24-filled" style="font-size:20px"></span>
                                    </a>
                                </div>
                            </div>





                        </div>


                    </div>
                </div>
            }

        </div>

    </div>
</section>

