@model SearchVM

@{
    ViewData["Title"] = "Search";
}

@*<h1>@ViewData["Title"]</h1>*@

<div class="container p-4">

    <form asp-action="Search" method="post" >
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">

            <div class="col-6">
                <div class="form-group">
                    <label asp-for="Name" class="control-label "></label>
                    <input asp-for="Name" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FromDate" class="control-label"></label>
                    <input asp-for="FromDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FromPrice" class="control-label"></label>
                    <input asp-for="FromPrice" class="form-control" />
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" asp-items="@(new SelectList(Model.Categorys,"ID","Name"))" class="form-control"></select>
                </div>
                <div class="form-group">
                    <label asp-for="ToDate" class="control-label"></label>
                    <input asp-for="ToDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ToPrice" class="control-label"></label>
                    <input asp-for="ToPrice" class="form-control" />
                </div>
                <div class="form-group text-right">
                    <input type="submit" value="Search" class="btn btn-success" />
                </div>
            </div>
        </div>
    </form>

    @*@await Html.PartialAsync("~/Views/Advertisements/Index.cshtml", Model.Advertisements)*@
    @*<div class="text-primary"><h1>Result </h1></div>*@
    <hr />
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                @foreach (var i in Model.Advertisements)
                {

                    <div class="col-lg-4 col-md-6 portfolio-item @i.Name">
                        <img src="~/assets/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>Catogry @i.CategoryId</h4>
                            <h5>@i.Name</h5>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p style="font-size:20px">@i.Price $</p>
                                </div>

                                <div class="d-flex">
                                    <div class="mb-2 bg-warning w-25">
                                        <a href="~/assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="FullScreen"><i class="bi bi-arrows-fullscreen m-1" style="font-size:15px"></i></a>

                                    </div>
                                    <div class="bg-info">
                                        <a asp-controller="Advertisements" asp-action="Details" asp-route-Name="@i.Name" class="" title="More Details"><i class="bx bx-link"></i></a>

                                    </div>
                                </div>
                                @*<button type="button" class="btn btn-primary"><i class="bi bi-cart-plus"></i></button>*@
                                <a asp-controller="Advertisements" asp-action="Details"><i class="bi bi-cart-plus" title="Add To Cart" style="font-size:30px"></i></a>



                            </div>


                        </div>
                    </div>
                }

            </div>

        </div>
    </section>

    <hr />
</div>
